@charset "utf-8";
/* CSS Document */
.ms-controller,.ms-important,[ms-controller],[ms-important]{
    visibility: hidden;
}
#header {
    background: #3fbd8c;
}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td,select{font-family: Microsoft YaHei;}

/** 欢迎页面**/
#welcome{ text-align:center; width:100%; height:auto; padding-top: 20px;}
#welcome .hello{ width:880px; height:auto; overflow:hidden;  margin:0 auto;}
#welcome .hello h3{ font-size:32px; height:60px; line-height:32px;font-weight:normal;}
#welcome .hello li{ width:370px; height:175px; float:left; margin:0 70px 50px 0;}
#welcome .hello li a{ width:370px; height:175px; display:block;}
/*#welcome .hello li .a1{ background:url(../images/wel_1.png) no-repeat;}*/
/*#welcome .hello li .a1:hover{ background:url(../images/wel_1.png) no-repeat -370px 0;}*/
/*#welcome .hello li .a2{ background:url(../images/wel_2.png) no-repeat;}*/
/*#welcome .hello li .a2:hover{ background:url(../images/wel_2.png) no-repeat -370px 0;}*/
/*#welcome .hello li .a3{ background:url(../images/wel_3.png) no-repeat;}*/
/*#welcome .hello li .a3:hover{ background:url(../images/wel_3.png) no-repeat -370px 0;}*/
/*#welcome .hello li .a4{ background:url(../images/wel_4.png) no-repeat;}*/
/*#welcome .hello li .a4:hover{ background:url(../images/wel_4.png) no-repeat -370px 0;}*/
#welcome .copy{ width:100%; height:20px; line-height:20px; padding:30px 0; font-size:14px; color:#999; clear:both;}

/**表格**/
.search{ width:100%; height:auto; overflow:hidden; line-height:28px;   font-size:12px; color:#333; margin-bottom:12px; position:relative;}
.search .txt{ width:120px; height:28px;  background: #fefbe9;line-height:28px; border:1px solid #ccc; padding:3px 5px; float:left; color:#666; font-size:12px;}
.search .time{ width:90px; height:28px; line-height:28px; border:1px solid #ccc; padding:3px 5px; float:left; color:#666; font-size:12px;}
.search .name{ width:100px; height:28px; line-height:28px; border:1px solid #ccc; padding:3px 5px; float:left; color:#666; font-size:12px;}
    .search input[type="button"]{ width:auto; height:28px; line-height:28px; padding:10px; border:0; background:#6FB3E0; color:#fff; cursor:pointer; float:left; font-size:12px;}
.search input:hover[type="button"]{background:#4F99C6;}
.search div.btn-ctr{ width:auto; margin-left:30px;padding-left:30px; height:28px;}
.search div.btn-ctr input[type="button"]{ background:#F78B54;}
.search div.btn-ctr input[type="button"]:hover{ background:#F4A582;}
.search input[type="submit"]{ width:auto; height:28px; line-height:28px; padding:10px; border:0; background:#6FB3E0; color:#fff; cursor:pointer; float:left; font-size:12px;}
.search input:hover[type="submit"]{background:#4F99C6;}
.search .s_box{ width:180px; height:26px; border:1px solid #ccc; background:#eee; overflow:hidden; float:left; top:0; left:0; text-align:left; margin:0 15px 8px;}
.search .s_box .txt{ width:144px; height:26px; line-height:26px; border:0; background:#eee; padding:0 5px; margin:0;}
.search .s_box .choose{ width:26px; height:26px; border:0; background:url(../images/choose.png); float:left;}
.search .s_box .choose:hover{ background:url(../images/choose.png) #e2e2e2;}
.search .search-label{ width:auto; height:28px; }
.search .search-label b{  color:#444; float:left}
.search .search-label h3{ float:left; text-align:right; color:#444; padding:0 10px;}
.search .search-label input{ vertical-align:top;}
.search select{ height:28px; width:130px; background:#fefbe9; border:1px solid #ddd; font-size:12px; float:left; margin-right:3px; color:#666;}
.search select option{ color:#333;}
.search .button{ width:auto; height:28px; float:left; overflow:hidden; white-space:nowrap; margin:0px;}
.search .button input[type="button"]{ width:auto; height:28px; padding:0 10px; margin:0 10px 0 0; border:0; background:#6FB3E0; font-size:12px;}
.search .button input:hover[type="button"]{ background:#4F99C6;}
.search .button input[type="submit"]{ width:auto; height:28px; padding:0 10px; margin:0 10px 0 0; border:0; background:#6FB3E0; font-size:12px;}
.search .button input:hover[type="submit"]{ background:#4F99C6;}
.search div.btn{ border-left:0; max-width:320px; }

/*add*/
.user-c-box{  width:100%; margin-bottom:15px;}
.user-c-box b,.school-c-box  b{ text-align:left;}
.user-c-box h3{ height:100px; width:10%;line-height:100px; font-size:13px; font-weight:bold;float:left;}
.user-c{ width:100%}
.user-c select,input[type="text"]{ margin:0 10px 0 0;}
.tj{ width:100%; border-bottom:1px solid #ededed; padding:8px 0; height:45px;}

div.form .user-edit .remark{ padding:0 2%; height:40px; margin-bottom:20px; line-height:40px; background:#f2f2f2; border-bottom:1px solid #ddd; text-align:left;}
.user-edit,.user-check{ width:100%; height:auto;}
.user-check{ padding-top:20px;}
.user-edit .table_1{ width:100%; border:1px solid #ddd; border-bottom:none;}
.user-edit  .plus{ margin:0% 2% 2% 2%; border-top:none;}
.user-edit .plus th{ text-align:center;}
div.form .user-edit  span{color:#fff; line-height:28px; padding-right:3px;}
.user-edit input[type="text"]{ width:80%;}
.user-edit input[type="password"]{ width:80%;}
.user-edit  th{ text-align:right;}
.user-edit  td{ text-align:left;}
.user-edit  td.remark{ background:#f2f2f2; height:28px;}
.user-edit  td p{ margin:0 auto; height:11px; line-height:11px;}
.user-edit td .role-n{ width:130px; height:90px; overflow-y:scroll;}
.user-edit .btn-role{ width:130px; height:90px;padding:20px; overflow:hidden;}
.user-edit .btn-role input.main{ width:110px; height:28px; padding:5px; margin-bottom:20px; display:block; margin-left:auto; margin-right:auto;}
.user-edit .user-btn{ background:#f2f2f2; border-top:1px solid #ddd; padding:10px; margin-top:20px;text-align: center;}
input.oper{background:#F78B54; height:28px; padding:0 20px;  margin: 0 10px 0 0; color:#fff; border:none;}
input.oper:hover{background:#F4A582;}

.school-c-box{width:100%;}
.school-c-box h3{ height:70px;  width:10%; line-height:70px; font-size:13px; font-weight:bold;float:left;}
.school-c{}

ul.import-d{ width:90%; padding:0 5%; text-align:left;}
ul.import-d li{ height:28px; line-height:28px;}

/*add*/


.title{ width:100%; height:auto; overflow:hidden; background:#48bcbb; padding:8px 0; text-align:center; font-size:14px; font-weight:bold; color:#069;}
.title b{ line-height:24px; color:#fff; font-weight:normal; float:left; margin:0 0 0 15px;}
.title em{ color:#ff6;}
.title .btns{ float:right; margin:0 5px 0 0;}
.title .btns input[type="button"]{ height:24px; padding:0 12px; margin:0 2px; border:0; background:#8BC2E6; color:#fff; font-size:12px; overflow:visible;}
.title .btns input:hover[type="button"]{ background:#6FB3E0;}
.title .btns input[type="submit"]{ height:24px; padding:0 12px; margin:0 2px; border:0; background:#8BC2E6; color:#fff; font-size:12px; overflow:visible;}
.title .btns input:hover[type="submit"]{ background:#6FB3E0;}

.operate{ width:100%; height:auto; overflow:hidden; padding:15px 0;}
.operate input[type="button"]{ height:28px; padding:0 15px; margin:0 5px; border:0; background:#6FB3E0; color:#fff; font-size:12px; overflow:visible;}
.operate input:hover[type="button"]{ background:#4F99C6;}
.operate input[type="submit"]{ height:28px; padding:0 15px; margin:0 5px; border:0; background:#6FB3E0; color:#fff; font-size:12px; overflow:visible;}
.operate input:hover[type="submit"]{ background:#4F99C6;}
.operate input[type="reset"]{ height:28px; padding:0 15px; margin:0 5px; border:0; background:#6FB3E0; color:#fff; font-size:12px; overflow:visible;}
.operate input:hover[type="reset"]{ background:#4F99C6;}


div.form{ margin:0 auto;} /*add*/
div.form th{ text-align:right;}
div.form label{ width:auto;}
div.form  th.org{ height:50px; line-height:50px;}
div.form input[type="checkbox"]{ margin-right:5px;vertical-align:middle; margin-top:-2px; margin-bottom:1px; }
div.form label.set{ width:100%;  float:none; display:block;}
div.form span{ color:#ed8753;}
div.form .remark{ text-align:left; padding:20px;}
.org-li{ width:100%; height:25px; margin-bottom:10px;}
.org-li-nb{ margin-bottom:0px;}
.org-li select{ border:1px solid #ddd; font-size:12px; color:#666; height:24px; line-height:24px; width:20%;}
.org-li select.school{ width:50%;}
/*add*/

.table_1{ width:100%; border-left:1px solid #ddd;}
.table_1 tr:hover{ background: #f2f2f2;}
.table_1 th{ height:25px;border-right:1px solid #ddd; border-bottom:1px solid #ddd; padding:8px; background: #429aca; color:#fff;}
.table_1 td{ border-right:1px solid #ddd; border-bottom:1px solid #ddd; padding:6px 8px; color:#666;}
.table_1 img{ vertical-align:middle}
.table_1 img.headIcon{border-radius:10px; }
.table_1 em{ color:#f00;}
.table_1 em.green{ color:#390;}
.table_1 em.blue{ color:#06F;}
.table_1 em.no{ color:#f00; font-weight:bold;}
.table_1 a{ color:#069; cursor:pointer;}
.table_1 a:hover{ text-decoration:underline;}
.table_1 select{ height:26px;  border:1px solid #ccc; margin:0 8px 0 0; font-size:12px;}
.table_1 input[type="text"]{ height:25px; border:1px solid #ccc; margin:2px 0; padding:0 3px; font-size:14px;}
.table_1 input[type="password"]{ height:25px; border:1px solid #ccc; margin:2px 0; padding:0 3px; font-size:14px;}
.table_1 input[type="button"],input.blue{ height:24px; padding:0 5px; margin:2px 3px; border:0; background:#429aca; color:#fff; font-size:12px; overflow:visible;}
.table_1 input.longbtn{ width:110px; padding:5px; height:30px; margin-right:30px;}
.table_1 input:hover[type="button"]{ background:#428ebe;}
.table_1 input[type="submit"]{ height:24px; padding:0 5px; margin:2px 3px; border:0; background:#87B87F; color:#fff; font-size:12px; overflow:visible;}
.table_1 input:hover[type="submit"]{ background: #428ebe;}
.table_1 textarea{ width:200px; height:100px; border:1px solid #ccc; padding:5px;}

.table_1 td .mul{ width:100px; height:26px; display:inline-block; position:relative;}
.table_1 td .mul input{ width:92px; height:24px; background:#f5f5f5; border:1px solid #ccc; border-radius:3px; padding:0 3px;}
.table_1 td .mul em{ width:22px; height:22px; display:block; background:url(../images/mul.png) no-repeat; position:absolute; top:4px; right:2px;}
.table_1 td .mul em:hover{ background:url(../images/mul.png) no-repeat #ddd;}
.table_1 td .now{ width:auto; height:26px; display:inline-block; margin:0 0 0 15px;}
.table_1 td .head_photo{ width:120px; height:120px; padding:2px; border:1px solid #8095AA;}

.table_3{ width:100%; border-left:1px solid #BCD4E5;}
.table_3 tr:hover{ background:#fbfbfb;}
.table_3 th{ border-right:1px solid #BCD4E5; border-bottom:1px solid #BCD4E5; padding:8px; background:#ECF2F7; color:#444;}
.table_3 td{ border-right:1px solid #BCD4E5; border-bottom:1px solid #BCD4E5; padding:6px 8px; color:#666;}
.table_3 th .month{ height:24px; line-height:24px; float:left; font-size:14px; font-weight:normal;}
.table_3 th .month span{ margin:0 10px; color:#069;}
.table_3 th .get_all{ height:24px; line-height:24px; float:right; font-weight:normal; margin:0 10px;}
.table_3 td.empty{ height:100px; background:#f5f5f5; padding:0;}
.table_3 td.hols{ height:60px; padding:30px 0 10px; position:relative; color:#f60; background:#ffc;}
.table_3 td.work{ height:60px; padding:30px 0 10px; position:relative; color:#069;}
.table_3 td .day{ width:100%; height:30px; line-height:36px; position:absolute; top:0; left:0; font-size:14px; text-align:left; text-indent:15px; color:#999;}
.table_3 td .day span{ font-weight:bold; color:#2e6589; margin:0 5px;}
.table_3 td .day a{ width:20px; height:20px; display:block; background:url(../images/edit.png) no-repeat 0 0; cursor:default; position:absolute; top:10px; right:10px;}
.table_3 td .day a:hover{ background:url(../images/edit.png) no-repeat -20px 0;}

.table_0{ border:0;}
.table_0 th{ border:0; border-bottom:1px dotted #ccc; background:none; padding:3px 10px; font-weight:normal;}
.table_0 td{ border:0; padding:3px 10px;}

/*站点设置*/
.table_1 .stop_btn{ width:70px; height:114px; float:left;}
.table_1 .stop{ width:170px; height:auto; float:left; margin:2px 0;}
.table_1 .stop li{ width:150px; line-height:18px; background:#f2f2f2; margin:0 0 2px; padding:3px 8px; cursor:default; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.table_1 .stop li:hover{ background:#e9e9e9;}
.table_1 .stop li.cur{ background:#307ECC; color:#fff;}

.table_btn{}
/*页码样式*/
.page_num{ width:100%; height:26px; line-height:26px; font-size:12px; color:#333; text-align:right; margin:15px 0;}
.page_num a{ width:auto; height:24px; line-height:24px; display:inline-block; padding:0 6px; margin:0 0 0 2px; color:#333; border:1px solid #ccc; text-decoration:none; vertical-align:middle;cursor:pointer;}
.page_num a:hover{ border:1px solid #39C; color:#069;}
.page_num a.disabled { color:#999; border:1px solid #eee; background:none; cursor:not-allowed;}
.page_num input{ width:34px; height:24px; line-height:24px; border:1px solid #ccc; margin:0 2px; text-align:center; vertical-align:middle;}
.page_num select{ height:26px; border:1px solid #ccc; vertical-align:middle; margin:0 0 0 2px;}
.page_num em{ color:#f00;}


.top_bt{ padding:0 0 10px; text-align:left}
.top_bt a{ line-height:25px; height:25px; display:inline-block; border:1px solid #dadada; background:#f1f1f1; color:#555555; text-align:center;border-radius:3px; padding:0 15px;}
.top_bt a input{ margin-right:5px; vertical-align:middle}
.top_bt a:hover{border:1px solid #777;}
.top_tit{ padding:8px 0; font-size:14px; color:#333; text-align:left}

.table_1 input.ipt_w150{ width:150px;}
.table_1 input.ipt_w300{ width:300px;}
.table_1 select.ipt_w158{ width:158px;}

.l_search{ width:15%; background:#f6f6f6; float:left; border:1px solid #e7e7e7; text-align:left; margin-right:10px; padding:0 8px;}
.l_search ul{padding:10px 0 ; font-size:14px; font-family:"微软雅黑"; width:100%}
.l_search ul li{ padding:0}
.l_search ul li p a:hover{ background:#fcf2c1;display:block;}
a.class_tb{ height:25px; display:block; color:#222;}
.op-class{ background:url(../images/ico_add_jt_down.png) 0 center no-repeat; padding-left:15px; }
.op-classed{ background:url(../images/ico_add_jt_r.png) 0 center no-repeat; padding-left:15px; }
.l_search ul li p a span{ color:#999; display:block; padding-left:10px;}
a.p_l{ padding-left:40px;}
a.p_2{ padding-left:20px;}

.l_search ul li ul{ font-size:12px;  padding:0 0 0 20px;  margin:0 0 8px}
.l_search ul li ul li{ line-height:22px;}
.l_search ul li ul li a{ color:#333}
.l_search ul li ul li span{ display:block; padding-left:28px;}
.l_search ul li ul li span p{ padding-left:12px; margin:0; color:#999}
a.bt_org{ padding:0 10px; text-align:center; color:#fff; background:#428bca; display:inline-block; float:left;margin-right: 10px;}

/*停用、启用*/
.disabled_text {  color: #cd0000;  }
.enabled_text {  color: #1b6aaa;  }

/*分页*/
.page_btn{  padding: 0 10px; text-align: center; color: #fff; background: #428bca; display: inline-block; margin-right: 10px  }

/*上传*/
.uplodivad_pic td{border: none;}
#treeDemo span{color: black;  line-height: normal; font-family: "Microsoft YaHei"}

/*设置应用*/
.table_project td{border: none;}
.table_project td label{ width: 130px;}

/*用户权限设置页面设置应用*/
.table_permission td{border: none;}
.table_permission td label{ width: 140px;}

.select_disable:disabled { background-color: #F2F2F2;cursor: not-allowed }
/*.disabled { background-color: #F2F2F2;cursor: not-allowed }*/

/* BI 分析页面*/
.bi{
    border-bottom: 1px solid #ededed;
}